body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #00B7FF;
}

nav {
  height: 80px;
  padding: 20px white;

}

#login {
  border: 1px solid;
  border-radius: 30px;
}

#download-button {
    border: 1px solid;
    width: 300px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
#carousel {
  opacity: .4 ;
}
span {
    font-family: 'Sigmar One', cursive;
    font-size: 100px;
}

.brand-logo {
    font-family: 'Caveat', cursive;
    /*transform: scaleY(2.0);*/
    margin-left: 20px;
    font-weight: bold;
}

.parallax-container {
  height: 600px;
  padding-top: 60px;
}

.nav-wrapper {
    background-color: white;

    padding-top: 10px;
}
